html {
    box-sizing:border-box
}

*, *:before, *:after {
    box-sizing:inherit
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    position: relative;
    justify-content: center;
    max-height: 1024px;
    gap: 5vw;
}

div {
    display: flex;
    flex: auto;
    justify-content: center;
}

.container {
    width: 50vw;
    max-width: 1024px;
    min-width: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;    
}

.calculator {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(242, 242, 242);
    gap: 20px;
    padding: 40px;
}

.calculator_display {
    background-color: white;
}

.calculator_key_wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.calculator_key {
    background-color: white;
}

.center {
    justify-content: center;
    align-items: center;
}