html {
    box-sizing:border-box
}

*, *:before, *:after {
    box-sizing:inherit
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
}

.calculator {
    padding: 4px;
    flex: 0 1 auto;
    background-color: gray;
    flex-direction: column;
}

.keywrapper {
    gap: 4px;
    height: 70vh;
    flex-wrap: wrap;
}

.key {
    background-color: lightgray;
    flex: 1 1 100px;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: white;
    width: 60vh;
    padding: 5vh;
}